<!DOCTYPE html>
<html>
  <head>
    <title>Logback LogConfigurator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style th:include="list :: style" />
  </head>
  <body>
    <h1>Error</h1>
    <pre th:text="${exception}" />
  </body>
</html>