<!DOCTYPE html>
<html>
  <head>
    <title>Logback LogConfigurator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style th:fragment="style">
      body {
        background-color:white;
        font-family: Helvetica, Arial, Sans-Serif;
        color:#292929;
        font-size:80%;
      }
      form {
        padding-bottom:10px;
        padding-top:10px;
      }
      table {
        width:100%;
      }
      tr:nth-child(odd) {
        background-color: #E5E5E5;
      }
      table td.c {
        text-align:center;
      }
      h1 {
        font-weight:bold;
        border-bottom:2px solid black;
        margin-bottom:10px;
      }
      h1::first-letter {
        font-size:200%;
        color:#A1A1A1;
        float:left;
        margin-right:-20px;
      }
      div.footer {
        margin-top:20px;
        border-top:1px solid #C0C0C0;
        color: #C0C0C0;
        text-align:right;
        font-size:80%;
      }
    </style>
  </head>
  <body onLoad="submitButton.style.display = 'none'">
    <h1>Logger List</h1>
    <form id="contextForm" method="GET" action="?">
      <select name="c" onChange="this.form.submit()" style="width:300px">
        <option th:each="context : ${contexts}" th:text="${context.name}" th:selected="${context.name}==${selectedContext.name}">Context Name</option>
      </select>
      <input id="submitButton" type="submit" value="Ok" />
    </form>
    <table>
      <tr>
        <th>
          Logger
        </th>
        <th>
          Current Level
        </th>
        <th>
          Effective Level
        </th>
        <th colspan="7">
          Set
        </th>
      </tr>
      <tr th:each="logger : ${loggers}">
        <td th:text="${logger.name}">Logger name</td>
        <td th:text="${logger.level}" class="c">Logger level</td>
        <td th:text="${logger.effectiveLevel}" class="c">Logger level</td>
        <td class="c">
          <a href="?" th:href="@{?(c=${selectedContext.name},n=${logger.name},a='set',l='TRACE')}">Trace</a>
        </td>
        <td class="c">
          <a href="?" th:href="@{?(c=${selectedContext.name},n=${logger.name},a='set',l='DEBUG')}">Debug</a>
        </td>
        <td class="c">
          <a href="?" th:href="@{?(c=${selectedContext.name},n=${logger.name},a='set',l='INFO')}">Info</a>
        </td>
        <td class="c">
          <a href="?" th:href="@{?(c=${selectedContext.name},n=${logger.name},a='set',l='WARN')}">Warn</a>
        </td>
        <td class="c">
          <a href="?" th:href="@{?(c=${selectedContext.name},n=${logger.name},a='set',l='ERROR')}">Error</a>
        </td>
        <td class="c">
          <a href="?" th:href="@{?(c=${selectedContext.name},n=${logger.name},a='set',l='OFF')}">Off</a>
        </td>
        <td class="c">
          <a href="?" th:if="${logger.name!='ROOT'}" th:href="@{?(c=${selectedContext.name},n=${logger.name},a='set',l='NULL')}">Reset</a>
        </td>
      </tr>
    </table>
    <div th:fragment="footer" class="footer">
      generated by logback-auxiliary
    </div>
  </body>
</html>